*{
    margin: 0;
    padding: 0;
}

.head-1{
    background-color: black;
    color: red;
    padding: 5px;
    text-align: center;
}
/* main conatiner */
.container{
    /* border: 2px solid blue; */
    min-height: auto;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;  
}
/* all divs of container */
.computer-choice, .choices, .user-choice{
    margin: 10px;
    height: 350px;
    width: 400px;
    text-align: center;
}
.head-2{
    /* border: 3px solid seagreen;   */
}

.head-3{
    /* border: 3px solid seagreen; */
    margin-top: 10px;
}
/* div-1 */
.computer-choice{
    /* border: 2px solid red; */
    /* background-color: lightblue; */  
}
/* div-2 */
.choices{
    /* border: 2px solid green; */
    /* background-color: lightblue; */
    width: 650px;
}
/* div-3 */
.user-choice{
    /* border: 2px solid blueviolet; */
    /* background-color: lightblue; */
}
.computerimg{
    /* border: 3px solid red; */
    min-height: 200px;
}
.imgcontainer{
    /* border: 2px solid brown; */
    height: 250px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.logo-container{
    /* border: 2px solid black; */
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 315px;
}
.logo{
    height: 165px;
    width: 165px;
    /* border: 1px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.user{
    /* border: 2px solid darkmagenta; */
    min-height: 200px;
}

.container-2{
    /* border: 2px solid blue; */
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;  
}
button{
    font-size: 5px;
    border-radius: 30px;
    background-color: black;
    color: white;
    width: 25px;
    height:10px;
}
.btn{
    display: flex;
}
.computer-score,.user-score,.msg{
    margin: 10px;
    height: 80px;
    min-width:230px ;
    text-align: center;
}

.computer-score,.user-score,.msg{
    /* border: 2px solid red; */
    /* background-color: lightblue; */  
}
.container-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo:hover{
    cursor: pointer;
    background-color: #081b31;
}
.container-3{
    /* border: 2px solid blue; */
    min-height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
button{
    font-size: 30px;
    height: 70px;
    min-width: 300px;
    cursor: pointer;
}


